<html>
<head>
  <title>Unobtrusive, Graceful Degradation, jQuery and Rails</title>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' %>
  <%= javascript_include_tag 'html-sanitizer-minified.js' %>
  <%= javascript_include_tag 'people.js' %>
</head>
<body>
  <h1>Unobtrusive, Graceful Degradation, jQuery and Rails</h1>
  
  <h2>People</h2>
  
  <%= yield %>
</body>
</html>